.render {
  width: 98%;
  height: 50px;
  border: solid 0.5px;
  border-radius: 3px;
  padding: 1%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;

}

.render_unique {
  width: 98%;
  height: 100px;
  border: solid 0.5px;
  border-radius: 3px;
  padding: 1%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

}

.div_render {
  width: 98%;
  height: 130px;
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

}


.rend_child {
  height: 85%;
  padding: 5%;
  margin-left: 3%;
  border-radius: 3px;
  border: solid 0.5px;
  cursor: pointer;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.border_render {
  height: 85%;
  border-radius: 3px;
  border: solid 0.5px;
  cursor: pointer;
  margin: 1%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#div_choice_1:hover > div {
  background-color: #696969;
  transition: 0.3s;
}

#div_choice_2:hover > div {
  background-color: #696969;
  transition: 0.3s;
}

#div_choice_3:hover > div {
  background-color: #696969;
  transition: 0.3s;
}

.sub_div_render {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#div_choice_1 {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#div_choice_2 {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#div_choice_3 {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn_style {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn_style_submit {
  cursor: pointer;
  display: inline-block;
  background-color: lightskyblue;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-top: 10px;
}

#former {
  position: fixed;
  z-index: 1000;
  top: 20%;
  left: 25%;
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  overflow: auto;
}

#cross_form {
  float: right;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

#sepa_create {
  display: none;
}

#image_choice {
  display: none;
}

#link_create {
  display: none;
}

.edit_page {
  margin-top: 30px;
}

a.btn_style_submit{
  text-decoration: none;
  color: white;
}

.choice_bloc_editor{
  min-height: 50px;
  margin-left: 20px;
  background-color: lightslategray;
}

/*Refaire en sass dans card*/

.card--border {
  border: 1px solid rgba(0, 0, 0, 0.125)!important;
}
.card--shadow--border {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.125)!important;
}
.card-coin-left-top {
  justify-content: flex-start;
  align-items: baseline;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-coin-right-top {
  justify-content: flex-start;
  align-items: end;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-coin-right-bottom {
  justify-content: flex-end;
  align-items: end;
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-coin-left-bottom {
  justify-content: flex-start;
  align-items: end;
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-center-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-center-left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-center-top {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-center-bottom {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}

.card-text-editor {
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 200px;
  background-color: #F2F2F2;
}
.image_creator{
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.popup-form{
  display: none;
}



//navbar

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
