
.pages_icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.pages_card{
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .pages_card {
    margin-left: 0!important;
  }
}
