.settings-wrapper {

    .logo-border {
        border: solid 3px black;
        border-style: dashed;
        border-radius: 5px;
    }

    .logo-select {
        border: solid 2px $grey;
        background-color: lighten($grey, 25%);
        border-radius: 5px;

        .logo-icon {
            width: 85px;
            height: 85px;
            border: solid 2px $grey;
            border-radius: 5px;
            background-color: lighten($grey, 15%);
        }

        .select {
            border-width: 2px;
            border-style: solid;
            border-radius: 500px;
            width: 55px;
            height: 55px;

            &.check {
                border-color: $green;
                background-color: lighten($green, 40%);
            }

            &.times {
                border-color: $red;
                background-color: lighten($red, 40%);
            }
        }

    }

}