.stats-wrapper {

    .stats-block {

        background-color: white;
        border-radius: 5px;
        padding: 2em;

        @media screen and (max-width: 900px){
            > h1 {
                font-size: 16px;
            }
        }

        .canvas-wrapper {
            min-height: 250px;
        }

        .big-number {
            font-weight: 700;
            font-size: 55px;
        }

    }

}