.stats-wrapper {

    .stats-block {

        background-color: white;
        border-radius: 5px;
        padding: 2em;


        .big-number {
            font-weight: 700;
            font-size: 55px;
        }

    }

}