
.button-con{
    padding: 1em 2em;
    display: inline-block;
    border-radius: 25px;
    min-width: 150px;
    border: none;
    color: $white;
    outline: none;
    background-color: $button_color;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    @media screen and (max-width: 760px){
        font-size: rem(12);
    }
    &:hover{
        background-color: lighten($button_color, 5%);
    }
    &--alert{
        background-color: $red;
        &:hover{
            background-color: lighten($red, 10%);
        }
    }
    &--success{
        background-color: $green;
        &:hover{
            background-color: lighten($green, 10%);
        }
    }
    &--center{
        text-align: center;
    }
}

.button{
    display: inline-block;
    color: $white;
    background-color: $marine-blue;
    border-color: $marine-blue;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color 0.3s;
    @media screen and (max-width: 760px){
        font-size: rem(12);
    }
    button:hover{
        background-color: lighten($marine-blue, 10%);
    }
    &--alert{
        background-color: $red;
        &:hover{
            background-color: lighten($red, 10%);
        }
    }
    &--success{
        background-color: $green;
        &:hover{
            background-color: lighten($green, 10%);
        }
    }
}

.btn {
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    line-height: 19px;
    cursor: pointer;
    margin-left: -1px;
    padding: 12px 25px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 8px 2px rgb(0, 0, 0);
    background-color: #24242d;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}

.no-click{
    cursor: unset;
    background-color: #74747f !important;
}

.no-click:hover{
    background-color: #74747f !important;
}

.btn:hover{
    background-color: #343440;
}


