*{
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body{
    margin: 0;
    font-family: $font1;
    background-color: $light-grey;
}

h1, h2{
    font-family: $font2;
}

h1{
    font-size: rem(24);
}

h2{
    font-size: rem(16);
}

p{
    line-height: 1.4;
}

a {
    text-decoration: none;
}

hr {
    border: 0.5px solid lighten($grey, 15%);
    width: 80%;
    margin: 25px 0;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    & > section{
        padding:20px 0;
    }
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}
