@import "colors";
$container-width: 1170px;
$container-fluid-width: 100%;
$columns: 12;
$gutter: 20px;
$container-width-lg: 1280px;
$container-width-md: 900px;
$container-width-sm: 750px;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
    padding: 0 calc(#{$gutter} / 2);
  }
}

@media only screen and (max-width: 766px) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
      padding: 0 calc(#{$gutter} / 2);
    }
  }
}

@media only screen and (max-width: 578px) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
      padding: 0 calc(#{$gutter} / 2);
    }
  }
}

/* sass --watch file/fille.scss:file/file.css*/
@mixin container-content ($width) {
  max-width: $width;
  margin: auto;
}

@mixin container-fluid-content ($width) {
  max-width: $width;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{$gutter} /-2);

  &.no-container {
    margin: 0;
  }
}

.row-end{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{$gutter} /-2);
  justify-content: flex-end;
}

.row-center{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{$gutter} /-2);
  justify-content: center;
}

.row-between{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{$gutter} /-2);
  justify-content: space-between;
}

.container {
  @include container-content($container-width-lg);
  & > section{
    padding: 20px 0;
  }
  flex-basis: 75%;
}

.container-back{
  display: flex;
  flex-direction: row;
  section{
    padding: 20px;
  }
}

.container-back-wrap{
  width: 100%;
  flex-wrap: wrap;
}

.container-fluid {
  @include container-fluid-content($container-fluid-width);
}

.col-inner {
  height: 25px;
}
