@import "colors";
$container-width: 1170px;
$columns: 12;
$gutter: 20px;
$container-width-lg: 1280px;
$container-width-md: 900px;
$container-width-sm: 750px;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
    padding: 0 calc(#{$gutter} / 2);
  }
}

@media only screen and (max-width: 766px) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
      padding: 0 calc(#{$gutter} / 2);
    }
  }
}

@media only screen and (max-width: 578px) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
      padding: 0 calc(#{$gutter} / 2);
    }
  }
}

* {
  box-sizing: border-box;
}

/* sass --watch file/fille.scss:file/file.css*/
@mixin container-content ($width) {
  max-width: $width;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{$gutter} /-2);
}

.container {
  @include container-content($container-width-lg);
}

.col-inner {
  height: 25px;
}
